<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/CustomerTemplate/images/shoes-img.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Mobiles</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/CustomerTemplate/images/wallet-img.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Accessories</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/CustomerTemplate/images/women-bag-img.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Repair Service</a>
                </div>
            </div>
        </div>
    </div>
</div>
