<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Content/images/banner1.jpeg" alt="">
            <div class="container">
                <h1 class="m-b-20"><strong>Latest Mobiles</strong></h1>
                <p><a class="btn hvr-hover" href="@Url.Action("Index","CustomerProduct")">Shop Now</a></p>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/banner2.jpeg" alt="">
            <div class="container">
                <h1 class="m-b-20"><strong>Accessories</strong></h1>
                <p><a class="btn hvr-hover" href="@Url.Action("Index","CustomerProduct")">Explore</a></p>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
    </div>
</div>
